@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- SEARCH ART -->
<div class="container search">
    <a href="work.html"><button type="button" class="main-button">Landscape</button></a>
    <a href="work.html"><button type="button" class="main-button">Architecture</button></a>
    <a href="work.html"><button type="button" class="main-button">Abstract</button></a>
    <a href="work.html"><button type="button" class="main-button">Seascapes</button></a>
    <a href="work.html"><button type="button" class="main-button">B & W</button></a>

    <div class="search-box">
        <input type="search" placeholder="Search">
        <button class="btn-icon"><i class="fas fa-search"></i></button>
    </div>
</div>