
@{
    ViewData["Title"] = "Index";
}




<main>
    <header id="header-other">
        <div class="container">
        </div>
    </header>

    <!-- OUR WORK -->
    <div class="container">
        <h2>Our work</h2>
        <p class="lead">Take a look at our work</p>



        <!-- SEARCH ART  / PARTIAL  -->
        <partial name="_SearchSection" />



        <!-- PRODUCTS -->
        <div class="products">

            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/yellow-dry-maple-756903.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/yellow-vines-on-gray-concrete-wall-1029609.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/abstract-background-carpentry-construction-268976.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/white-and-blue-abstract-painting-3591557.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/full-frame-shot-of-snowflakes-326240.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/gray-and-blue-land-form-158729.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/green-pine-tree-leaves-192136.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/green-wood-plank-1456301.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/aerial-photography-of-blue-vehicle-at-road-1660990.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/aerial-photography-of-body-of-water-3316968.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/assorted-colored-wooden-planks-985287.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <img src="./images/shop/red-sand-50570.jpg" alt="">
                </div>
                <div class="product-text">
                    <div class="text-wrap">
                        <p class="product-description">Product name</p>
                        <div class="price">
                            <h3 class="product-title">€100.00</h3>
                            <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>

