@model XYZwebsite.Models.User

@{
    ViewData["Title"] = "Login";
}


<main>
    <header id="header-other">
        <div class="container">
        </div>
    </header>

    <div class="container register">
        <h2>Log In</h2>
        <div class="contact-form">
            <form asp-action="Login" class="register">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-inputs">
                    <div>
                        <label asp-for="Email" class="">Email Address</label>
                        <input asp-for="Email" type="email" name="email" required>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div>
                        <label asp-for="Password" class="">Password</label>
                        <input asp-for="Password" type="password" placeholder="min 6 characters" name="password" minlength="6" required>
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>

                <button type="submit" value="Login">Log In</button>
            </form>
            <p>Not a member? <a asp-area="" asp-controller="Account" asp-action="Register">Register a new account</a></p>
        </div>
    </div>
</main>


