
@{
    ViewData["Title"] = "About";
}

<main>


    <header id="header-other">
        <div class="container">
        </div>
    </header>

    <div class="container">
        <h2>About Us</h2>
        <p class="lead">Who we are and what we do...</p>
        <div class="presentation">
            <img src="~/images/selective-photography-of-smiling-woman-948873.jpg" alt="about me"/>
            <div class="biography">
                <h4>FirstName LastName</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis nostrum, eaque velit ipsam
                    facilis sed, quisquam nesciunt unde nihil voluptatum commodi consequuntur molestiae? Fugiat,
                    perspiciatis reprehenderit. Architecto delectus vitae deserunt!
                </p>
            </div>

        </div>
        <div class="presentation">
            <img src="~/images/man-wearing-black-zip-up-jacket-near-beach-smiling-at-the-736716.jpg" alt="about me">
            <div class="biography">
                <h4>FirstName LastName</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis nostrum, eaque velit ipsam
                    facilis sed, quisquam nesciunt unde nihil voluptatum commodi consequuntur molestiae? Fugiat,
                    perspiciatis reprehenderit. Architecto delectus vitae deserunt!
                </p>
            </div>

        </div>
    </div>

    <div class="container testimonials">
        <h2>Testimonials</h2>
        <p class="lead">Take a look at what our clients say...</p>
        <div class="testimonials-inner">
            <div>
                <p class="testimonial-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
                    doloribus voluptatem quia architecto animi quidem alias corrupti explicabo nam eligendi
                    dignissimos suscipit, tenetur, praesentium, ullam exercitationem autem commodi blanditiis quis.
                </p>
                <ul>
                    <img src="~/images/testimonials/woman-wearing-yellow-button-up-long-sleeved-dress-shirt-774095.jpg"
                         alt="">
                    <p>Jane Doe, Stockholm</p>
                </ul>
            </div>
            <div>
                <p class="testimonial-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
                    doloribus voluptatem quia architecto animi quidem alias corrupti explicabo nam eligendi
                    dignissimos suscipit, tenetur, praesentium, ullam exercitationem autem commodi blanditiis quis.
                </p>
                <ul>
                    <img src="~/images/testimonials/photography-of-a-man-wearing-black-shirt-903661.jpg" alt="">
                    <p>Joe Doe, Tokyo</p>
                </ul>
            </div>
            <div>
                <p class="testimonial-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
                    doloribus voluptatem quia architecto animi quidem alias corrupti explicabo nam eligendi
                    dignissimos suscipit, tenetur, praesentium, ullam exercitationem autem commodi blanditiis quis.
                </p>
                <ul>
                    <img src="~/images/testimonials/men-s-wearing-black-suit-jacket-and-pants-937481.jpg" alt="">
                    <p>John Doe, Berlin</p>
                </ul>
            </div>
            <div>
                <p class="testimonial-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum
                    doloribus voluptatem quia architecto animi quidem alias corrupti explicabo nam eligendi
                    dignissimos suscipit, tenetur, praesentium, ullam exercitationem autem commodi blanditiis quis.
                </p>
                <ul>
                    <img src="~/images/testimonials/woman-wearing-white-sleeveless-lace-shirt-935985.jpg" alt="">
                    <p>Janine Doe, New York</p>
                </ul>
            </div>
        </div>
    </div>

</main>

