@{
    ViewData["Title"] = "Home Page";
}

<main>

    <header id="header-home">
        <div class="container">
            <div class="header-main-content">
                <h1>XYZ Gallery</h1>
                <p class="lead">Photography</p>
                <!-- <a href="./work.html"><button type="button" class="main-button">View Our Work</button></a> -->
            </div>
        </div>
    </header>


    <!-- SHOWCASE 0 -->
    <div class="showcase0">
        <div class="container showcase-inner">
            <i class="fas fa-quote-left"></i>
            <p class="quote">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quod praesentium debitis
                quidem iure laudantium!
            </p>
            <i class="fas fa-quote-right"></i>
        </div>
    </div>


    <!-- SHOWCASE 1 -->
    <div class="showcase showcase1">
        <div class="text-box">
            <h2>Architecture</h2>
        </div>
    </div>


    <!-- SHOWCASE 2 -->
    <div class="showcase2">
        <div class="container showcase-inner">
            <i class="fas fa-quote-left"></i>
            <p class="quote">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta eaque eos officiis ab
                incidunt dolorem tenetur neque cumque.
            </p>
            <i class="fas fa-quote-right"></i>
        </div>
    </div>


    <!-- SHOWCASE 3 -->
    <div class="showcase showcase3">
        <div class="text-box">
            <h2>Landscape</h2>
        </div>
    </div>



    <!-- SHOWCASE 4 -->
    <div class="showcase4">
        <div class="container showcase-inner">
            <i class="fas fa-quote-left"></i>
            <p class="quote">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis dicta commodi nihil
                minus.
            </p>
            <i class="fas fa-quote-right"></i>
        </div>
    </div>


    <!-- SHOWCASE 5 -->
    <div class="showcase showcase5">
        <div class="text-box">
            <h2>Aerial</h2>
        </div>
    </div>



    <!-- SHOWCASE 6 -->
    <div class="showcase6">
        <div class="container showcase-inner">
            <i class="fas fa-quote-left"></i>
            <p class="quote">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt maxime officia nisi
                repudiandae odit optio facere.
            </p>
            <i class="fas fa-quote-right"></i>
        </div>
    </div>


    <!-- SHOWCASE 7 -->
    <div class="showcase showcase7">
        <div class="text-box">
            <h2>Fine Art</h2>
        </div>
    </div>


    <!-- SHOWCASE 8 -->
    <div class="showcase8">
        <div class="container showcase-inner">

        </div>
    </div>

    <div class="showcase8">
        <div class="container showcase-inner">
            <!-- <i class="fas fa-quote-left"></i> -->
            <img src="./images/logo.png" alt="">
            <!-- <i class="fas fa-quote-right"></i> -->
        </div>
    </div>


</main>